*{
	margin: 0;
	padding: 0;
}

body{
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff;
	margin: 15px;
}
a{
	text-decoration: none;
}

#container {
	background: url("../imagens/conteudo.png") top center repeat-y;
	min-width: 740px;
	max-width:1400px;
	
}

#topo{
	position: relative;
	background: #FFFFFF
	height: 15.4em;
	min-height: 250px;
}
#area-menu{
	position: absolute;
	background: url("../imagens/menu01.png") no-repeat;
	width: 450px;
	height:250px;
	top: 0;
	right: 0;
	z-index: 2;

}	

#area-logo{
	position: absolute;
	background: url("../imagens/logo01.png") ;
	width: 100%;
	height:250px;
	top: 0;
	left: 0;
	z-index: 1;

}
#conteudo-menu{
	margin-left: 90px;
	margin-right: 15px;
	padding-top: 15px;
}
 ul {
 	list-style: none;
 }

 ul#navegacao a {
 	text-transform: uppercase;
 	font-size: 1em;
 	padding: 0.7px;
 	color: #FFF5EE;
 	line-height: 55px;
 	font-weight: bold;
 }
 ul#navegacao a:hover {
 	color:#FFF5EE;
 	font-size: 1.2em; 
 	background: #e37d86;
 }

#area-principal{
	float: left;
	width:50%;
	padding: 15px 0px;
}
#area-lateral{
	float: right;
	width: 50%;
	padding: 15px 0px;
}

.conteudo{
	margin: 0 auto;
	width: 90%;
	
}
#rodape{
	clear:both;
	padding: 16px;
	background: #fff;
	color:#e37d86;
}

h2{
	color:#e37d86;
	font-size: 1.1em;
	padding: 5px 0px;
}

p{
	font-size: 1em;
	margin-bottom: 25px;	
}

#Beneficios li{
	padding: 30px;
	border-bottom: 1px solid #e37d86;
	height: 6em;

}
#Beneficios li a img{
	float: left;
	margin-right: 8px;
}

#Beneficios li a p{
	color:#2F4F4F;
	font-size: 0.8em;
}

#Beneficios li a h3{
	font-size:1.1em;
	color: #e37d86;
}

#Beneficios li:hover{
	border:1px solid #e37d86;
	cursor:pointer;

}
